@import "./variables.module.scss";

.root {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .icon {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .text {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
}