@import "./variables.module.scss";

$app-bar-height: 40px;

.bg {
  background-color: $crl-coal!important;
  display: flex;
  > div {
    display: flex;
    .logo {
      flex-grow: 1;
      > img {
        cursor: pointer;
        max-height: $app-bar-height;
      }
    }
    .rightBlock {
      display: flex;
      flex-direction: row;
      .label {
        margin: auto 10px auto auto;
      }
    }
  }
}
.link {
  font-weight: 700;
  font-size: 16px;
}
.btnBlocks {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .bg {
    .logo {
      flex-grow: 1;
      > img {
        max-height: 40px$app-bar-height;
      }
    }
  }
}
